.d-sm-flex{
    margin-top: 20px;
}
.contaner2{
    margin-bottom: 100px;
    margin-top: 10px;
}
.input{
    align-items: center;
}
.facility1{
    font-family:serif;
}
.gallery{
    background-color: whitesmoke
}
